.btn{
  border-color: rgb(193, 181, 228);
  color: #4b4b4b;
}
.btn:hover{
  background-color:
  #363546;
  color: rgb(255, 255, 255);
}
.form-control.custom-shadow:focus{
  box-shadow: 0 0 5px rgb(193, 181, 228,1);
  border-color: #c1b5e4;
}
.suggested-result{
  position: absolute;
  display: list-item !important  ; 
  z-index: 10;
  margin-top: 36px;
  border-radius: 5px ;
  background-color: white;
  width: 500px;
  border: 1px solid #ddd ;
  list-style: none;
}
.suggested-result li{
  border: 1px solid #fff;
  padding: 5px;
}
.suggested-result li a{
  cursor: pointer;
  color: #4b4b4b;
}
.search-bar{
  
  z-index: 10;
}

